<div class="main-wrapper">
  <div class="info-wrapper">
    <h2 class="title"><fa class="pin-icon" name="map-marker"></fa>Danbury Hall, Durham, NC</h2>
    <h3 class="sub-title">
      <span class="floor-info">{{floor}}</span> Floor, Quadrant <span class="quadrant-info">{{quadrant}}</span> 
    </h3>
    <div class="stats-wrapper">
      <span class="seats-taken">{{deskTotal - takenSeats.length}}</span> / <span class="seats-total">{{deskTotal}}</span>
      <p class="description">Desks Are Available</p>
    </div>
    <div class="action-toolbar">
      <fa routerLink="/map" class="pin-icon" name="map"></fa>
    </div>
  </div>
  <div class="charts-wrapper">
    <div id="businessTakenContainer" class="chart-card"></div>
    <div id="rolesContainer" class="chart-card">123</div>
  </div>
</div>
  