.main-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  .info-wrapper {
    width: 25%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5em;
    color: #95a5a6;

    .title {
      .pin-icon {
        margin-right: .5em;
        color: #bdc3c7;
      }
    }

    .sub-title {
      margin: 0;
    }

    .floor-info {
      color: #2ecc71;
      font-size: 1.5em;
    }

    .quadrant-info {
      color: #2ecc71;
      font-size: 1.5em;
    }

    .stats-wrapper {
      flex-direction: row;
      margin-top: 2em;

      .seats-taken {
        font-weight: 700;
        font-size: 10em;
        color: #2ecc71;
      }

      .seats-total {
        color: #7f8c8d;
      }
    }

    .description{
      margin: 0;
    }

    .action-toolbar {
      margin-top: 2em;
      cursor: pointer;
      color: #95a5a6;
    }
  }

  .charts-wrapper {
    background-color: #ecf0f1;
    flex: 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1em;
    position: relative;

    .chart-card {
      padding: 1em;
      border-radius: 1em;
      background-color: #fff;
      margin: 0 1em 1em 0;
    }
  }
}

.chart1-title {
  color: red !important;
}